extends header

block content
  #upload.flex.x_center

  .anchor1.flex.column.y_center.x_center.scroll
    h1(style='font-size: 100px;')
      span.fa.fa-file
    h1.text.center File doesn't exist anymore.
    h3.text.normal.center.margin_bottom_big
      a(href='/')
        span Create another room and upload more files.