doctype html
html(lang='es')
  head
    meta(charset="utf-8")

    title Shareme.io

    link(rel='shortcut icon', href='/ico/favicon.ico')

    meta(name='description', content='Fast way to share all kind of files. 30 minutes of free unlimited space.')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')

    link(href='//fonts.googleapis.com/css?family=Montserrat+Alternates:400,700|Raleway:400,300,700', rel='stylesheet')
    link(href='//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css', rel='stylesheet')
    link(href='/css/xpressio.min.css', rel='stylesheet')

  body.flex.column
    header.flex.border.solid.bottom_small.bck.b_white(style='height: 50px;')
      .site_width.flex.anchor1
        .anchor2.flex.y_center
          a(href='/')
            .padding_medium.logo
              span.text.color.c_mysauce1 share
              span.text.bold.color.c_mysauce2 me

        #menu.anchor3.flex.x_end

    block content

    script.
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
      ga('create', 'UA-8068556-10', 'shareme.io');
      ga('send', 'pageview');