// @media only screen and (max-width: 1200px)

@media only screen and (max-width: 1055px)
  html
    font-size 18px

@media only screen and (max-width: 980px)
  html
    font-size 15px

@media only screen and (max-width: 860px)
  html
    font-size 12px

@media handheld, only screen and (max-width: 768px)
  html
    font-size 15px

@media handheld, only screen and (max-width: 480px)
  .padding_medium
    padding 12px

  .padding_small
    padding 6px

  .padding_right_small
    padding-right 4px

// @media handheld, only screen and (max-width: 320px)