.flex.bck.b_mysauce3_light
  .joinRoom.anchor2.text.center.color.c_white
    input.anchor.border.none.padding_medium(type='text', placeholder='Room code')
  .connectRoom.anchor1.flex.x_center.y_center.padding_medium.text.center.color.c_blue.cursor.pointer.border.solid.left_small
    span.fa.fa-sign-in.padding_right_small
    span Connect