span.createRoom.text.bold.cursor.pointer
  span.fa.fa-plus.padding_right_small
  span Create room
span.disconnectRoom.text.bold.cursor.pointer.hidden
  span.fa.fa-sign-out.padding_right_small
  span Leave room