.flex.bck.b_mysauce3_light
  .joinRoom.anchor2.text.center.color.c_white
    input.anchor.border.none.padding_medium(type='text', placeholder='Room code')
  .connectRoom.anchor1.flex.x_center.y_center.padding_medium.text.center.color.c_blue.cursor.pointer.border.solid.left_small
    span.fa.fa-sign-in.padding_right_small
    span Connect
  .room.bck.b_white.padding_medium.text.bold.center.hidden
    span.fa.fa-lock.padding_right_small
    span
      a(href='http://shareme.io/#{model.room}') #{model.room}
  .connections.bck.padding_medium.text.center.color.c_green.hidden
    span.fa.fa-user.padding_right_small
    span #{model.connections}
  .timer.bck.padding_medium.text.center.color.c_red.hidden
    span.fa.fa-clock-o.padding_right_small
    span #{model.timeRemaining}
  .uploadFiles.bck.padding_medium.text.center.color.c_blue.cursor.pointer.hidden
    span.fa.fa-cloud-upload
    span.padding_left_small.desktop Upload